<div class="actions">
  {{{actionButton}}}
  <div class="actions__list">
    {{{newChatButton}}}
    {{{addUserButton}}}
    {{{deleteUserButton}}}
  </div>
  {{{addChatModal}}}
  {{{addContactModal}}}
  {{{deleteContactModal}}}
</div>
