<main class="chat">
  <section class="chat__sidebar">
    {{{settingsLink}}}
    {{{searchForm}}}
    <div class="chat__contacts">
      <div class="chat_contact-list">
        {{#each contacts}}
          {{{this}}}
        {{/each}}
      </div>
    </div>
  </section>
  <section class="chat__content">
    <div class="chat__header">
      {{{avatar}}}
      {{contactName}}
      {{{actions}}}
    </div>
    <div class="chat__messages-container">
      {{{messagesBlock}}}
    </div>
    <section class="chat__message-form">
      {{{messageForm}}}
    </section>
  </section>
</main>
